@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Jost:wght@300;900&display=swap');

/* font-family: 'Barlow', sans-serif;
font-family: 'Jost', sans-serif; */

body {
    background: #e3dfdf;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    width: 100vw;
    min-width: 100%;
    overflow: hidden;
}

h1 {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

h1 > span {
    font-weight: 900;
}

p {
    margin-bottom: 10px;
}