@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Jost:wght@300;900&display=swap');

/* font-family: 'Barlow', sans-serif;
font-family: 'Jost', sans-serif; */

body {
    font-family: 'Barlow', sans-serif;
}

h1 {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
}

h1 > span {
    font-weight: 900;
}